
/* Your CSS Code here. */

/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content: space-evenly;
	flex-wrap:wrap;
}

.a{
	display: inline-block;
	height:100px;
	width:100px;
	background-color: green ;
}
.b{
	display: inline-block;
	height:100px;
	width:100px;
	background-color: red ;
}
.c{
	display: inline-block;
	height:100px;
	width:100px;
	background-color:blue;
}